.navbar{
  background-color: #F6F0E2;
}

.navbarLogo {
  /* color: rgb(17, 100, 180); */
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.navbarToggle{
  border: none;
  outline: none;
  color: rgb(17, 100, 180);
}
