.navbar{
  background-color: #F6F0E2;
}

.navbarLogo {
  /* color: rgb(17, 100, 180); */
  color: red;
  font-weight: bold;
  font-size: 20px;
}

.navbarLogo:hover {
  color: rgb(17, 100, 180);
}

.navbarLogo:focus {
  color: rgb(17, 100, 180);
}

.navbarToggle{
  border: none;
  outline: none;
  color: rgb(17, 100, 180);
}

@media (max-width: 576px) {
  .navbarLogo {
    margin-left: -10px;
  }
}


